<nav class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <!-- <img src="{{ url_for('static', filename='mylogo.png') }}" width="30" height="30"
                class="d-inline-block align-top" alt=""> -->
        　<b>유다</b>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                    <a class="nav-link" href="#">홈<span class="sr-only">홈</span></a>
                </li> -->
        </ul>
    </div>
</nav>